body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */

}

.frontpage-story {

    padding: 0px;
    margin-bottom: 20px;
    
    background-color: #2E3238;
    border-radius: 3px;
}

.story-holder li:nth-child(even) {
   background-color: #363C42;
}

.frontpage-story p {
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    
}

.frontpage-story .title a, .frontpage-story .title a:active, .frontpage-story .title a:hover, .frontpage-solid .title a:focus{
    text-decoration: none;
    color: #C8C8C8;
    
}
.title{
    line-height: 30px;
    padding: 0px;
    padding-left: 10px;
    text-align: left;
    border-radius: 0px;
    border: 0px;
}

.title a {
    width: 100%;
    display: block;
    margin: 0px;
}


.frontpage-story .title {
    margin-bottom: 10px;
}

.sidebar {
    height: 400px;
}
.sidebar .shareButton {

}

.story-footer {
    border-top: 1px solid #212121;
    font-size: 12px;
    padding-left: 10px;
}



#footer {
    margin-top: 50px;
    border-top: 1px solid black;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
}

#shareDreamInput {
    width: 400px;
    height: 150px;
}

#form-ajax-indicator {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    position: absolute;
    top: 0px;
    left: 0px;
}

#form-ajax-indicator div {
    width: 100px;
    display: block;
    margin: 0 auto;
    margin-top: 50%;
}

#form-ajax-indicator img {
    margin-top: -64px;
}